## Characteristics of a Playmaker:
- **Great Passing Ability: Accuracy, Under Pressure etc**
- **Great Vision: Through Balls**
- **Good Dribbling Skills**
- **Assist Provider**
- **Key involvement in goals and shot creation**
- **Carrying the ball up the field**
- **Touches in Mid 3rd, attacking 3rd**

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)

In [2]:
dflineups = pd.read_csv('Lineup.csv')
dflineups.head(2)

,match_id,date,time,team_name,home_away,jersey_no,player_name,start_status
0,027b11df,"Friday June 18, 2021",20:00,England,h,1,Jordan Pickford,Start
1,027b11df,"Friday June 18, 2021",20:00,England,h,3,Luke Shaw,Start

In [3]:
dfPlayerSummary = pd.read_csv('Summary Stats.csv')
dfPlayerSummary.head(2)

,match_id,date,time,team_name,home_away,Player,#,Pos,Age,Min,Gls,Ast,PK,PKatt,Sh,SoT,CrdY,CrdR,Touches,Press,Tkl,Int,Blocks,xG,npxG,xA,SCA,GCA,PassCmp,PassAtt,PassCmp%,PassProg,Carries,CarriesProg,DribSucc,DribAtt
0,027b11df,"Friday June 18, 2021",20:00,England,h,Harry Kane,9.0,FW,27-325,73,0,0,0,0,2,0,0,0,20,4,0,0,0,0.3,0.3,0.1,1,0,8,13,61.5,1,13,5,0,0
1,027b11df,"Friday June 18, 2021",20:00,England,h,Marcus Rashford,11.0,FW,23-230,17,0,0,0,0,0,0,0,0,8,0,0,0,0,0.0,0.0,0.0,0,0,6,6,100.0,0,5,0,0,0

In [4]:
dfPassing = pd.read_csv('Passing Data.csv')
dfPassing.head(2)

,match_id,date,time,team_name,home_away,Player,#,Pos,Age,Min,TotCmp,TotAtt,TotCmp%,TotDist,PrgDist,ShortCmp,ShortAtt,ShortCmp%,MedCmp,MedAtt,MedCmp%,LongCmp,LongAtt,LongCmp%,Ast,xA,KeyPasses,Opp1/3,PPA,CrsPA,Prog
0,027b11df,"Friday June 18, 2021",20:00,England,h,Harry Kane,9.0,FW,27-325,73,8,13,61.5,198,20,3,3,100.0,2,3,66.7,2,3,66.7,0,0.1,1,0,1,0,1
1,027b11df,"Friday June 18, 2021",20:00,England,h,Marcus Rashford,11.0,FW,23-230,17,6,6,100.0,111,12,4,4,100.0,1,1,100.0,1,1,100.0,0,0.0,0,0,0,0,0

In [5]:
dfPassType = pd.read_csv('Pass Type Data.csv')
dfPassType.head(2)

,match_id,date,time,team_name,home_away,Player,#,Pos,Age,Min,Att,PTLive,PTDead,PTFK,PTTB,PTPress,PTSw,PTCrs,PTCK,CKIn,CKOut,CKStr,Ground,Low,High,BPLeft,BPRight,BPHead,BPTI,BPOther,OutcomeCmp,OutcomeOff,OutcomeOut,OutcomeInt,OutcomeBlocks
0,027b11df,"Friday June 18, 2021",20:00,England,h,Harry Kane,9.0,FW,27-325,73,13,12,1,0,0,2,2,1,0,0,0,0,7,3,3,2,10,0,1,0,8,0,0,2,2
1,027b11df,"Friday June 18, 2021",20:00,England,h,Marcus Rashford,11.0,FW,23-230,17,6,6,0,0,0,2,1,0,0,0,0,0,4,1,1,1,4,0,0,0,6,0,0,0,0

In [6]:
dfPossession = pd.read_csv('Possession Data.csv')
dfPossession.head(2)

,match_id,date,time,team_name,home_away,Player,#,Pos,Age,Min,TotTouches,TouchDef Pen,TouchDef 3rd,TouchMid 3rd,TouchAtt 3rd,TouchAtt Pen,TouchLive,DribSucc,DribAtt,DribSucc%,#Playerslost,nutMegs,Carries,CarryTotDist,CarryPrgDist,CarryProg,Carry1/3,CPA,CarryMis,CarryDis,RecTarg,Rec,Rec%,RecProg
0,027b11df,"Friday June 18, 2021",20:00,England,h,Harry Kane,9.0,FW,27-325,73,20,0,0,11,10,4,19,0,0,NaN,0,0,13,81,54,5,1,3,1,0,27,17,63.0,4
1,027b11df,"Friday June 18, 2021",20:00,England,h,Marcus Rashford,11.0,FW,23-230,17,8,0,0,2,6,0,8,0,0,NaN,0,0,5,8,3,0,0,0,0,2,12,8,66.7,3

**In dfPlayerSummary we will consider only 'match_id', 'Player', 'Pos', 'Min', 'Age', 'Ast', 'SCA', 'GCA', 'PassCmp', 'PassAtt', 'PassProg'**

In [7]:
dfPlayerSummary = dfPlayerSummary[['match_id', 'Player', 'Pos', 'Min', 'Age', \
                                   'Ast', 'SCA', 'GCA', 'PassCmp', 'PassAtt', 'PassProg']]
dfPlayerSummary.head(3)

,match_id,Player,Pos,Min,Age,Ast,SCA,GCA,PassCmp,PassAtt,PassProg
0,027b11df,Harry Kane,FW,73,27-325,0,1,0,8,13,1
1,027b11df,Marcus Rashford,FW,17,23-230,0,0,0,6,6,0
2,027b11df,Raheem Sterling,"LW,RW",90,26-192,0,3,0,25,28,3

**In dfPassing we require 'match_id', 'Player', 'TotDist', 'PrgDist', 'ShortCmp', 'ShortAtt', 'MedCmp',	'MedAtt', 'LongCmp',	'LongAtt','KeyPasses', 'Opp1/3', 'PPA', 'CrsPA'**

In [8]:
dfPassing = dfPassing[['match_id', 'Player', 'Min', 'TotDist', 'PrgDist', \
                       'ShortCmp', 'ShortAtt', 'MedCmp','MedAtt', 'LongCmp','LongAtt','KeyPasses', 'Opp1/3', 'PPA', 'CrsPA']]
dfPassing.head(3)

,match_id,Player,Min,TotDist,PrgDist,ShortCmp,ShortAtt,MedCmp,MedAtt,LongCmp,LongAtt,KeyPasses,Opp1/3,PPA,CrsPA
0,027b11df,Harry Kane,73,198,20,3,3,2,3,2,3,1,0,1,0
1,027b11df,Marcus Rashford,17,111,12,4,4,1,1,1,1,0,0,0,0
2,027b11df,Raheem Sterling,90,362,86,13,14,12,13,0,0,1,1,2,0

**In dfPassType we take 'match_id', 'Player', 'PTTB', 'PTPress', 'PTSw'**

In [9]:
dfPassType = dfPassType[['match_id', 'Player', 'Min', 'PTTB', 'PTPress', 'PTSw']]
dfPassType.head(3)

   match_id           Player  Min  PTTB  PTPress  PTSw
0  027b11df       Harry Kane   73     0        2     2
1  027b11df  Marcus Rashford   17     0        2     1
2  027b11df  Raheem Sterling   90     0        5     0

**In dfPossession we want 'match_id', 'Player', 'TotTouches', 'TouchMid 3rd', 'TouchAtt 3rd', 'TouchAtt Pen', 'DribSucc', 'DribAtt', '#Playerslost',	'nutMegs', 'Carries', 'CarryTotDist',	'CarryPrgDist',	'CarryProg', 'Carry1/3', 'CPA'**

In [10]:
dfPossession = dfPossession[['match_id', 'Player', 'Min', 'TotTouches', 'TouchMid 3rd', 'TouchAtt 3rd', 'TouchAtt Pen', 'DribSucc', \
                             'DribAtt', '#Playerslost', 'nutMegs', 'Carries', 'CarryTotDist', 'CarryPrgDist', 'CarryProg', 'Carry1/3', 'CPA']]
dfPossession.head(3)

,match_id,Player,Min,TotTouches,TouchMid 3rd,TouchAtt 3rd,TouchAtt Pen,DribSucc,DribAtt,#Playerslost,nutMegs,Carries,CarryTotDist,CarryPrgDist,CarryProg,Carry1/3,CPA
0,027b11df,Harry Kane,73,20,11,10,4,0,0,0,0,13,81,54,5,1,3
1,027b11df,Marcus Rashford,17,8,2,6,0,0,0,0,0,5,8,3,0,0,0
2,027b11df,Raheem Sterling,90,38,16,22,6,1,2,1,0,36,183,91,7,1,1

**Now that the columns we need are extracted we can merge the dataframes**

In [11]:
dfChances = pd.merge(dflineups, dfPlayerSummary, how = 'inner', \
         left_on = ['match_id', 'player_name'], right_on = ['match_id', 'Player']).reset_index(drop = True)

In [12]:
dfChances.sample(3)

,match_id,date,time,team_name,home_away,jersey_no,player_name,start_status,Player,Pos,Min,Age,Ast,SCA,GCA,PassCmp,PassAtt,PassProg
309,25bb1fa2,"Thursday June 17, 2021",18:00,Denmark,h,4,Simon Kjær,Start,Simon Kjær,CB,90,32-083,0,1,0,30,34,2
1164,caa84313,"Wednesday June 16, 2021",21:00,Switzerland,a,3,Silvan Widmer,Bench,Silvan Widmer,WB,33,28-103,0,1,0,29,33,1
1027,bd35edec,"Monday June 21, 2021",22:00,Belgium,a,3,Thomas Vermaelen,Start,Thomas Vermaelen,CB,90,35-219,0,1,0,79,81,7

In [13]:
dfChances = dfChances.groupby('Player').agg({'Player': 'first', 'team_name': 'first', 'Pos': 'first', 'Age': 'first', \
                                 'Min': 'sum', 'Ast': 'sum', 'SCA': 'sum', 'GCA': 'sum', 'PassCmp': 'sum', 'PassAtt': 'sum', \
                                'PassProg': 'sum'}).reset_index(drop = True)

**Calculating per90 stats**

In [14]:
per90cols = ['Ast','SCA','GCA','PassCmp','PassAtt','PassProg']

for col in per90cols:
    dfChances[col + 'per90'] = dfChances[col].divide(dfChances['Min']).multiply(90)
dfChances.head(3)

,Player,team_name,Pos,Age,Min,Ast,SCA,GCA,PassCmp,PassAtt,PassProg,Astper90,SCAper90,GCAper90,PassCmpper90,PassAttper90,PassProgper90
0,Aaron Ramsey,Wales,AM,30-182,353,0,8,0,119,154,17,0.0,2.03966,0.0,30.339943,39.263456,4.334278
1,Adam Hložek,Czech Republic,"LW,RW",18-328,80,0,1,0,16,25,5,0.0,1.12500,0.0,18.000000,28.125000,5.625000
2,Adama Traoré,Spain,"RB,LW",25-149,14,0,0,0,14,16,0,0.0,0.00000,0.0,90.000000,102.857143,0.000000

**Selecting only the columns required**

In [15]:
dfChances = dfChances[['Player', 'team_name', 'Pos', 'Age', 'Min', 'Astper90', \
                       'SCAper90', 'GCAper90', 'PassCmpper90', 'PassAttper90', 'PassProgper90']]
dfChances['PassAccuracy'] = dfChances['PassCmpper90'].divide(dfChances['PassAttper90'])
dfChances['PercentProgPasses'] = dfChances['PassProgper90'].divide(dfChances['PassAttper90'])
dfChances.head(2)

,Player,team_name,Pos,Age,Min,Astper90,SCAper90,GCAper90,PassCmpper90,PassAttper90,PassProgper90,PassAccuracy,PercentProgPasses
0,Aaron Ramsey,Wales,AM,30-182,353,0.0,2.03966,0.0,30.339943,39.263456,4.334278,0.772727,0.11039
1,Adam Hložek,Czech Republic,"LW,RW",18-328,80,0.0,1.12500,0.0,18.000000,28.125000,5.625000,0.640000,0.20000

In [16]:
dfChances.to_csv('Chances_Pass Statsper90.csv', index = False)

In [17]:
dfpass = pd.merge(dflineups, dfPassing, how = 'inner', \
         left_on = ['match_id', 'player_name'], right_on = ['match_id', 'Player']).reset_index(drop = True)

In [18]:
dfpass.sample(3)

,match_id,date,time,team_name,home_away,jersey_no,player_name,start_status,Player,Min,TotDist,PrgDist,ShortCmp,ShortAtt,MedCmp,MedAtt,LongCmp,LongAtt,KeyPasses,Opp1/3,PPA,CrsPA
936,b5659aa3,"Saturday June 26, 2021",18:00,Denmark,a,8,Thomas Delaney,Start,Thomas Delaney,59,339,68,10,13,5,6,3,7,0,1,2,1
996,ba500d70,"Tuesday June 15, 2021",18:00,Portugal,a,2,Nélson Semedo,Start,Nélson Semedo,90,1264,408,40,42,34,35,4,10,2,16,1,0
407,35a9c7dc,"Friday July 2, 2021",21:00,Belgium,h,9,Romelu Lukaku,Start,Romelu Lukaku,90,95,12,6,8,2,4,0,1,0,1,0,0

In [19]:
dfpass = dfpass.groupby('Player').agg({'Player': 'first', 'team_name': 'first', 'Min': 'sum','MedCmp': 'sum', \
                              'MedAtt': 'sum', 'LongCmp': 'sum', 'LongAtt': 'sum', 'KeyPasses': 'sum', \
                              'Opp1/3': 'sum', 'PPA': 'sum', 'CrsPA': 'sum'}).reset_index(drop = True)

In [20]:
dfpass.head(3)

,Player,team_name,Min,MedCmp,MedAtt,LongCmp,LongAtt,KeyPasses,Opp1/3,PPA,CrsPA
0,Aaron Ramsey,Wales,353,45,52,22,33,4,12,5,1
1,Adam Hložek,Czech Republic,80,7,10,1,4,1,0,3,2
2,Adama Traoré,Spain,14,5,5,2,3,0,0,0,0

In [21]:
per90cols = ['MedCmp','MedAtt','LongCmp','LongAtt','KeyPasses','Opp1/3','PPA','CrsPA']

for col in per90cols:
    dfpass[col + 'per90'] = dfpass[col].divide(dfpass['Min']).multiply(90)
dfpass['MedPassAcc'] = dfpass['MedCmpper90'].divide(dfpass['MedAttper90'])
dfpass['LongPassAcc'] = dfpass['LongCmpper90'].divide(dfpass['LongAttper90'])
dfpass.head(3)

,Player,team_name,Min,MedCmp,MedAtt,LongCmp,LongAtt,KeyPasses,Opp1/3,PPA,CrsPA,MedCmpper90,MedAttper90,LongCmpper90,LongAttper90,KeyPassesper90,Opp1/3per90,PPAper90,CrsPAper90,MedPassAcc,LongPassAcc
0,Aaron Ramsey,Wales,353,45,52,22,33,4,12,5,1,11.473088,13.257790,5.609065,8.413598,1.01983,3.05949,1.274788,0.254958,0.865385,0.666667
1,Adam Hložek,Czech Republic,80,7,10,1,4,1,0,3,2,7.875000,11.250000,1.125000,4.500000,1.12500,0.00000,3.375000,2.250000,0.700000,0.250000
2,Adama Traoré,Spain,14,5,5,2,3,0,0,0,0,32.142857,32.142857,12.857143,19.285714,0.00000,0.00000,0.000000,0.000000,1.000000,0.666667

In [22]:
dfpass = dfpass[['Player','team_name','KeyPassesper90','Opp1/3per90','PPAper90','CrsPAper90','MedPassAcc','LongPassAcc']]
dfpass.head(3)

,Player,team_name,KeyPassesper90,Opp1/3per90,PPAper90,CrsPAper90,MedPassAcc,LongPassAcc
0,Aaron Ramsey,Wales,1.01983,3.05949,1.274788,0.254958,0.865385,0.666667
1,Adam Hložek,Czech Republic,1.12500,0.00000,3.375000,2.250000,0.700000,0.250000
2,Adama Traoré,Spain,0.00000,0.00000,0.000000,0.000000,1.000000,0.666667

In [23]:
dfpass.to_csv('Passper90stats.csv', index = False)

In [24]:
dfpasstype = pd.merge(dflineups, dfPassType, how = 'inner', left_on = ['match_id', 'player_name'], \
         right_on = ['match_id', 'Player']).reset_index(drop = True)

In [25]:
dfpasstype = dfpasstype[['Player', 'team_name', 'Min', 'PTTB', 'PTPress', 'PTSw']]
dfpasstype.head(2)

            Player team_name  Min  PTTB  PTPress  PTSw
0  Jordan Pickford   England   90     0        2     2
1        Luke Shaw   England   90     1        9     1

In [26]:
dfpasstype = dfpasstype.groupby('Player').agg({'Player': 'first', 'team_name': 'first', \
                                  'Min': 'sum', 'PTTB': 'sum', 'PTPress': 'sum', 'PTSw': 'sum'}).reset_index(drop = True)

**Per90 stats**

In [27]:
per90_cols = ['PTTB', 'PTPress', 'PTSw']

for col in per90_cols:
    dfpasstype[col + 'per90'] = dfpasstype[col].divide(dfpasstype['Min']).multiply(90)
    
dfpasstype.head(2)

,Player,team_name,Min,PTTB,PTPress,PTSw,PTTBper90,PTPressper90,PTSwper90
0,Aaron Ramsey,Wales,353,0,29,11,0.0,7.393768,2.804533
1,Adam Hložek,Czech Republic,80,0,3,1,0.0,3.375000,1.125000

In [28]:
dfpasstype = dfpasstype[['Player', 'team_name', 'PTTBper90', 'PTPressper90', 'PTSwper90']]

In [29]:
dfpasstype.to_csv('pass Type per90 Stats.csv', index = False)

In [30]:
dfPossession.head(2)

,match_id,Player,Min,TotTouches,TouchMid 3rd,TouchAtt 3rd,TouchAtt Pen,DribSucc,DribAtt,#Playerslost,nutMegs,Carries,CarryTotDist,CarryPrgDist,CarryProg,Carry1/3,CPA
0,027b11df,Harry Kane,73,20,11,10,4,0,0,0,0,13,81,54,5,1,3
1,027b11df,Marcus Rashford,17,8,2,6,0,0,0,0,0,5,8,3,0,0,0

In [31]:
dfposs = pd.merge(dflineups, dfPossession, how = 'inner', \
         left_on = ['match_id', 'player_name'], right_on = ['match_id', 'Player']).reset_index(drop = True)

In [32]:
dfposs.columns

Index(['match_id', 'date', 'time', 'team_name', 'home_away', 'jersey_no',
       'player_name', 'start_status', 'Player', 'Min', 'TotTouches',
       'TouchMid 3rd', 'TouchAtt 3rd', 'TouchAtt Pen', 'DribSucc', 'DribAtt',
       '#Playerslost', 'nutMegs', 'Carries', 'CarryTotDist', 'CarryPrgDist',
       'CarryProg', 'Carry1/3', 'CPA'],
      dtype='object')

In [33]:
dfposs = dfposs.groupby('Player').agg({'Player':'first', 'team_name':'first', 'Min': 'sum', \
                              'TotTouches': 'sum', 'TouchMid 3rd': 'sum', 'TouchAtt 3rd': 'sum', \
                              'TouchAtt Pen': 'sum', 'DribSucc':'sum', 'DribAtt': 'sum', '#Playerslost': 'sum', \
                             'nutMegs': 'sum', 'Carries': 'sum', 'CarryTotDist': 'sum', 'CarryPrgDist': 'sum', \
                             'CarryProg': 'sum', 'Carry1/3': 'sum', 'CPA': 'sum'}).reset_index(drop = True)

**Per90 Stats**

In [34]:
per90_cols = ['TotTouches', 'TouchMid 3rd', 'TouchAtt 3rd', 'TouchAtt Pen', 'DribSucc', 'DribAtt',
       '#Playerslost', 'nutMegs', 'Carries', 'CarryTotDist', 'CarryPrgDist',
       'CarryProg', 'Carry1/3', 'CPA']

for col in per90_cols:
    dfposs[col + 'per90'] = dfposs[col].divide(dfposs['Min']).multiply(90)

dfposs.head(2)

,Player,team_name,Min,TotTouches,TouchMid 3rd,TouchAtt 3rd,TouchAtt Pen,DribSucc,DribAtt,#Playerslost,nutMegs,Carries,CarryTotDist,CarryPrgDist,CarryProg,Carry1/3,CPA,TotTouchesper90,TouchMid 3rdper90,TouchAtt 3rdper90,TouchAtt Penper90,DribSuccper90,DribAttper90,#Playerslostper90,nutMegsper90,Carriesper90,CarryTotDistper90,CarryPrgDistper90,CarryProgper90,Carry1/3per90,CPAper90
0,Aaron Ramsey,Wales,353,198,100,73,18,3,5,3,0,128,737,305,10,4,2,50.481586,25.495751,18.611898,4.589235,0.764873,1.274788,0.764873,0.0,32.634561,187.903683,77.76204,2.549575,1.01983,0.509915
1,Adam Hložek,Czech Republic,80,34,13,19,4,0,1,0,0,22,189,133,6,2,0,38.250000,14.625000,21.375000,4.500000,0.000000,1.125000,0.000000,0.0,24.750000,212.625000,149.62500,6.750000,2.25000,0.000000

In [35]:
dfposs = dfposs[['Player','team_name', 'TotTouchesper90','TouchMid 3rdper90','TouchAtt 3rdper90','TouchAtt Penper90', \
                 'DribSuccper90','DribAttper90','#Playerslostper90','nutMegsper90','Carriesper90','CarryTotDistper90', \
                 'CarryPrgDistper90','CarryProgper90','Carry1/3per90','CPAper90']]

In [36]:
dfposs.to_csv('Possession per90 Stats.csv', index = False)

### Merging all the per90 dfs to get it into one so that we can devise a rating system

**Chances Stats dataframe**

In [37]:
chances = pd.read_csv('Chances_Pass Statsper90.csv')
chances.head(2)

,Player,team_name,Pos,Age,Min,Astper90,SCAper90,GCAper90,PassCmpper90,PassAttper90,PassProgper90,PassAccuracy,PercentProgPasses
0,Aaron Ramsey,Wales,AM,30-182,353,0.0,2.03966,0.0,30.339943,39.263456,4.334278,0.772727,0.11039
1,Adam Hložek,Czech Republic,"LW,RW",18-328,80,0.0,1.12500,0.0,18.000000,28.125000,5.625000,0.640000,0.20000

In [38]:
len(chances)

490

**Passing Stats dataframe**

In [39]:
passing = pd.read_csv('Passper90stats.csv')
passing.head(2)

,Player,team_name,KeyPassesper90,Opp1/3per90,PPAper90,CrsPAper90,MedPassAcc,LongPassAcc
0,Aaron Ramsey,Wales,1.01983,3.05949,1.274788,0.254958,0.865385,0.666667
1,Adam Hložek,Czech Republic,1.12500,0.00000,3.375000,2.250000,0.700000,0.250000

In [40]:
len(passing)

490

**Pass Type Stats dataframe**

In [41]:
passtype = pd.read_csv('pass Type per90 Stats.csv')
passtype.head(2)

         Player        team_name  PTTBper90  PTPressper90  PTSwper90
0  Aaron Ramsey            Wales        0.0      7.393768   2.804533
1   Adam Hložek  Czech Republic         0.0      3.375000   1.125000

In [42]:
len(passtype)

490

**Possession Stats dataframe**

In [43]:
posses = pd.read_csv('Possession per90 Stats.csv')
posses.head(2)

,Player,team_name,TotTouchesper90,TouchMid 3rdper90,TouchAtt 3rdper90,TouchAtt Penper90,DribSuccper90,DribAttper90,#Playerslostper90,nutMegsper90,Carriesper90,CarryTotDistper90,CarryPrgDistper90,CarryProgper90,Carry1/3per90,CPAper90
0,Aaron Ramsey,Wales,50.481586,25.495751,18.611898,4.589235,0.764873,1.274788,0.764873,0.0,32.634561,187.903683,77.76204,2.549575,1.01983,0.509915
1,Adam Hložek,Czech Republic,38.250000,14.625000,21.375000,4.500000,0.000000,1.125000,0.000000,0.0,24.750000,212.625000,149.62500,6.750000,2.25000,0.000000

In [44]:
len(posses)

490

In [45]:
dffinal = pd.merge(chances, passing, how = 'inner', on = ['Player', 'team_name'])
dffinal = pd.merge(dffinal, passtype, how = 'inner', on = ['Player', 'team_name'])
dffinal = pd.merge(dffinal, posses, how = 'inner', on = ['Player', 'team_name'])

dffinal.head(3)

,Player,team_name,Pos,Age,Min,Astper90,SCAper90,GCAper90,PassCmpper90,PassAttper90,PassProgper90,PassAccuracy,PercentProgPasses,KeyPassesper90,Opp1/3per90,PPAper90,CrsPAper90,MedPassAcc,LongPassAcc,PTTBper90,PTPressper90,PTSwper90,TotTouchesper90,TouchMid 3rdper90,TouchAtt 3rdper90,TouchAtt Penper90,DribSuccper90,DribAttper90,#Playerslostper90,nutMegsper90,Carriesper90,CarryTotDistper90,CarryPrgDistper90,CarryProgper90,Carry1/3per90,CPAper90
0,Aaron Ramsey,Wales,AM,30-182,353,0.0,2.03966,0.0,30.339943,39.263456,4.334278,0.772727,0.11039,1.01983,3.05949,1.274788,0.254958,0.865385,0.666667,0.0,7.393768,2.804533,50.481586,25.495751,18.611898,4.589235,0.764873,1.274788,0.764873,0.0,32.634561,187.903683,77.762040,2.549575,1.01983,0.509915
1,Adam Hložek,Czech Republic,"LW,RW",18-328,80,0.0,1.12500,0.0,18.000000,28.125000,5.625000,0.640000,0.20000,1.12500,0.00000,3.375000,2.250000,0.700000,0.250000,0.0,3.375000,1.125000,38.250000,14.625000,21.375000,4.500000,0.000000,1.125000,0.000000,0.0,24.750000,212.625000,149.625000,6.750000,2.25000,0.000000
2,Adama Traoré,Spain,"RB,LW",25-149,14,0.0,0.00000,0.0,90.000000,102.857143,0.000000,0.875000,0.00000,0.00000,0.00000,0.000000,0.000000,1.000000,0.666667,0.0,19.285714,12.857143,122.142857,32.142857,90.000000,32.142857,12.857143,32.142857,12.857143,0.0,122.142857,655.714286,572.142857,25.714286,0.00000,6.428571

### Considering only those who have atleast played 45 minutes

In [46]:
dffinal = dffinal[dffinal['Min'] >= 45]

## Metrics to consider for different abilities


**chances_creation_ability**: 'Astper90', 'SCAper90', 'GCAper90', 'KeyPassesper90', 'Opp1/3per90', 'PPAper90', 'CrsPAper90', 'PTTBper90', 'CPAper90'

**passing_ability**: 'PassCmpper90', 'PassAttper90', 'PassProgper90', 'PassAccuracy', 'PercentProgPasses', 'MedPassAcc', 'LongPassAcc', 'PTPressper90', 'PTSwper90'

**dribbling_ability**: 'DribSuccper90', 'DribAttper90', '#Playerslostper90', 'nutMegsper90'

**Possession_keeping**: 'TotTouchesper90', 'TouchMid 3rdper90', 'TouchAtt 3rdper90', 'TouchAtt Penper90', 'Carriesper90',
       'CarryTotDistper90', 'CarryPrgDistper90', 'CarryProgper90', 'Carry1/3per90'

### Chances Creation  Rating

**Chances_creation_rating**   =   'Astper90' * 0.28 + 'GCAper90' * 0.14 + 'SCAper90' * 0.105  + 'PTTBper90'* 0.07 + 'Opp1/3per90' * 0.035 + ('PPAper90' + 'CrsPAper90' + 'KeyPassesper90' + 'CPAper90') * 0.0875

In [47]:
dffinal['Chances_creation_rating'] = dffinal['Astper90']*0.28 + dffinal['GCAper90']*0.14 + dffinal['SCAper90']*0.105 +\
                                    dffinal['PTTBper90']*0.07 + dffinal['Opp1/3per90']*0.035 + \
                                    (dffinal['PPAper90'] + dffinal['CrsPAper90'] +  \
                                     dffinal['KeyPassesper90'] + dffinal['CPAper90'])*0.0875

print('Top 10 Chance Creators in Euro2020 Group Stage:')
dffinal[['Player', 'team_name', 'Pos', 'Chances_creation_rating']].sort_values(by = 'Chances_creation_rating', ascending = False).head(10)

Top 10 Chance Creators in Euro2020 Group Stage:

                    Player  team_name    Pos  Chances_creation_rating
371             Rafa Silva  Portugal      RW                 2.912264
366  Przemysław Frankowski    Poland      RW                 2.705294
278         Marco Verratti     Italy      CM                 2.242140
318           Mislav Oršić    Croatia     LW                 2.216667
314        Mikel Oyarzabal      Spain  LW,FW                 2.201786
164          Jack Grealish    England     LW                 1.871154
227        Kevin De Bruyne   Belgium      AM                 1.795849
89        Dejan Kulusevski     Sweden     FW                 1.753977
298         Mathias Jensen   Denmark      DM                 1.686504
18       Andreas Cornelius   Denmark   AM,FW                 1.678279

### Dribbling Ability Rating

**dribbling_ability_rating** = 'nutMegsper90' * 0.1 +  'DribAttper90' * 0.15 + 'DribSuccper90' * 0.25 + '#Playerslostper90' * 0.5

In [48]:
dffinal['dribbling_rating'] = dffinal['nutMegsper90']*0.1 + dffinal['DribAttper90']*0.15 + \
                                dffinal['DribSuccper90']*0.25 + dffinal['#Playerslostper90']*0.5

print('Top 10 Dribblers in Euro2020 Group Stage:')
dffinal[['Player','team_name','Pos','dribbling_rating']].sort_values(by = 'dribbling_rating', ascending = False).head(10)

Top 10 Dribblers in Euro2020 Group Stage:

                Player team_name    Pos  dribbling_rating
397      Ryan Christie  Scotland     FW          6.100000
182        Jeremy Doku   Belgium     AM          5.918182
283    Marcus Rashford   England     FW          4.396552
314    Mikel Oyarzabal     Spain  LW,FW          4.132653
207    Jude Bellingham  England      AM          4.034483
18   Andreas Cornelius  Denmark   AM,FW          3.983607
249         Leroy Sané  Germany      WB          3.947368
110        Eden Hazard  Belgium      AM          3.885463
215   Kacper Kozłowski   Poland   LW,CM          3.750000
15      Alexander Isak   Sweden      FW          3.462617

### Passing Ability Rating

**Passing_ability_rating** = 'PassProgper90' * 0.16 + 'PercentProgPasses' * 0.16 + 'PassAccuracy' * 0.2 + 'MedPassAcc' * 0.08 + 'LongPassAcc' * 0.12 + 'PTPressper90' * 0.16 + 'PTSwper90' * 0.12

In [49]:
dffinal['Passing_rating'] = dffinal['PassProgper90']*0.16 + dffinal['PercentProgPasses']*0.16 + dffinal['PassAccuracy']*0.2 + \
                dffinal['MedPassAcc']*0.08 + dffinal['LongPassAcc']*0.12 + dffinal['PTPressper90']*0.16 + \
                dffinal['PTSwper90']*0.12
# considering only those with more than 45 passes per90
print('Top 10 Passing Players in Euro2020 Group Stage:')
dffinal[dffinal['PassAttper90'] >= 45][['Player','team_name','Pos', 'Passing_rating']].sort_values(by = 'Passing_rating', ascending = False).head(10)

Top 10 Passing Players in Euro2020 Group Stage:

                 Player     team_name Pos  Passing_rating
430    Thiago Alcántara         Spain  DM        6.598355
298      Mathias Jensen      Denmark   DM        5.674315
450          Toni Kroos      Germany   DM        4.891601
387               Rodri         Spain  DM        4.329622
244    Leandro Trossard      Belgium   WB        4.279450
130  Florian Grillitsch      Austria   CM        3.849009
237                Koke         Spain  CM        3.796860
147        Granit Xhaka  Switzerland   DM        3.795630
356               Pedri         Spain  CM        3.764420
251     Lorenzo Insigne        Italy   LW        3.719002

### Possession Keepers

**Possession_rating** = 'TouchMid 3rdper90' * 0.04 + 'TouchAtt 3rdper90' * 0.08 + 'TouchAtt Penper90' * 0.12 + 'Carriesper90' * 0.12 + 'CarryTotDistper90' * 0.12 + 'CarryPrgDistper90' * 0.16 + 'CarryProgper90' * 0.16 + 'Carry1/3per90 * 0.2

In [50]:
dffinal['Possession_keeping'] = dffinal['TouchMid 3rdper90']*0.04 + dffinal['TouchAtt 3rdper90']*0.08 + \
                                dffinal['TouchAtt Penper90']*0.12 + dffinal['Carriesper90']*0.12 + \
                                dffinal['CarryTotDistper90']*0.12 + dffinal['CarryPrgDistper90']*0.16 + \
                                dffinal['CarryProgper90']*0.16 + dffinal['Carry1/3per90']*0.2
# graeter than 60 touches per90
print('Top 10 Possession keepers of Euro 2020 Group Stage:')
dffinal[dffinal['TotTouchesper90'] >= 60][['Player','team_name','Pos', 'Possession_keeping']].sort_values(by = 'Possession_keeping', ascending = False).head(10)

Top 10 Possession keepers of Euro 2020 Group Stage:

                  Player team_name Pos  Possession_keeping
12   Alessandro Florenzi    Italy   RB          157.840000
120          Eric García    Spain   CB          139.577143
351           Pau Torres     Spain  CB          126.596685
124     Fabián Ruiz Peña     Spain  CM          126.507042
40       Aymeric Laporte     Spain  CB          124.948235
279      Marcos Llorente     Spain  RB          123.509005
361     Philipp Lienhart   Austria  CB          117.900000
66       Clément Lenglet    France  CB          113.120000
430     Thiago Alcántara     Spain  DM          105.690566
278       Marco Verratti    Italy   CM          102.717904

In [51]:
dffinal.head()

,Player,team_name,Pos,Age,Min,Astper90,SCAper90,GCAper90,PassCmpper90,PassAttper90,PassProgper90,PassAccuracy,PercentProgPasses,KeyPassesper90,Opp1/3per90,PPAper90,CrsPAper90,MedPassAcc,LongPassAcc,PTTBper90,PTPressper90,PTSwper90,TotTouchesper90,TouchMid 3rdper90,TouchAtt 3rdper90,TouchAtt Penper90,DribSuccper90,DribAttper90,#Playerslostper90,nutMegsper90,Carriesper90,CarryTotDistper90,CarryPrgDistper90,CarryProgper90,Carry1/3per90,CPAper90,Chances_creation_rating,dribbling_rating,Passing_rating,Possession_keeping
0,Aaron Ramsey,Wales,AM,30-182,353,0.0,2.039660,0.0,30.339943,39.263456,4.334278,0.772727,0.110390,1.019830,3.059490,1.274788,0.254958,0.865385,0.666667,0.000000,7.393768,2.804533,50.481586,25.495751,18.611898,4.589235,0.764873,1.274788,0.764873,0.000000,32.634561,187.903683,77.762040,2.549575,1.019830,0.509915,0.588952,0.764873,2.534470,42.577904
1,Adam Hložek,Czech Republic,"LW,RW",18-328,80,0.0,1.125000,0.0,18.000000,28.125000,5.625000,0.640000,0.200000,1.125000,0.000000,3.375000,2.250000,0.700000,0.250000,0.000000,3.375000,1.125000,38.250000,14.625000,21.375000,4.500000,0.000000,1.125000,0.000000,0.000000,24.750000,212.625000,149.625000,6.750000,2.250000,0.000000,0.708750,0.168750,1.821000,56.790000
4,Adrien Rabiot,France,"LB,WB",26-086,304,0.0,1.776316,0.0,52.105263,59.802632,4.144737,0.871287,0.069307,0.296053,4.440789,0.888158,0.000000,0.867470,0.833333,0.000000,12.138158,0.592105,68.980263,37.598684,21.019737,1.480263,0.592105,0.592105,0.592105,0.296053,52.105263,323.585526,176.743421,6.809211,4.144737,0.000000,0.445559,0.562500,3.031060,78.643421
5,Albin Ekdal,Sweden,DM,31-321,387,0.0,0.930233,0.0,27.674419,31.627907,1.627907,0.875000,0.051471,0.465116,2.790698,0.465116,0.000000,0.857143,0.933333,0.465116,5.581395,0.697674,41.162791,23.953488,6.976744,0.232558,0.000000,0.697674,0.232558,0.000000,23.255814,106.976744,41.627907,2.325581,0.697674,0.000000,0.309302,0.220930,1.601016,24.344186
6,Aleksandar Dragović,Austria,CB,30-107,338,0.0,0.798817,0.0,53.520710,61.775148,5.059172,0.866379,0.081897,0.000000,5.325444,0.266272,0.000000,0.893805,0.842105,0.266272,8.254438,2.396450,71.893491,41.272189,3.195266,0.532544,0.532544,0.532544,0.532544,0.000000,45.532544,220.207101,124.881657,4.792899,1.065089,0.000000,0.312204,0.479290,2.776688,54.820118

In [52]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler((1,10))
data = dffinal.copy()
data[['Chances_creation_rating','dribbling_rating','Passing_rating','Possession_keeping']] = scaler.fit_transform(data[['Chances_creation_rating','dribbling_rating','Passing_rating','Possession_keeping']])
data.head()

,Player,team_name,Pos,Age,Min,Astper90,SCAper90,GCAper90,PassCmpper90,PassAttper90,PassProgper90,PassAccuracy,PercentProgPasses,KeyPassesper90,Opp1/3per90,PPAper90,CrsPAper90,MedPassAcc,LongPassAcc,PTTBper90,PTPressper90,PTSwper90,TotTouchesper90,TouchMid 3rdper90,TouchAtt 3rdper90,TouchAtt Penper90,DribSuccper90,DribAttper90,#Playerslostper90,nutMegsper90,Carriesper90,CarryTotDistper90,CarryPrgDistper90,CarryProgper90,Carry1/3per90,CPAper90,Chances_creation_rating,dribbling_rating,Passing_rating,Possession_keeping
0,Aaron Ramsey,Wales,AM,30-182,353,0.0,2.039660,0.0,30.339943,39.263456,4.334278,0.772727,0.110390,1.019830,3.059490,1.274788,0.254958,0.865385,0.666667,0.000000,7.393768,2.804533,50.481586,25.495751,18.611898,4.589235,0.764873,1.274788,0.764873,0.000000,32.634561,187.903683,77.762040,2.549575,1.019830,0.509915,2.820084,2.128500,4.239730,3.211473
1,Adam Hložek,Czech Republic,"LW,RW",18-328,80,0.0,1.125000,0.0,18.000000,28.125000,5.625000,0.640000,0.200000,1.125000,0.000000,3.375000,2.250000,0.700000,0.250000,0.000000,3.375000,1.125000,38.250000,14.625000,21.375000,4.500000,0.000000,1.125000,0.000000,0.000000,24.750000,212.625000,149.625000,6.750000,2.250000,0.000000,3.190306,1.248975,3.228438,4.048515
4,Adrien Rabiot,France,"LB,WB",26-086,304,0.0,1.776316,0.0,52.105263,59.802632,4.144737,0.871287,0.069307,0.296053,4.440789,0.888158,0.000000,0.867470,0.833333,0.000000,12.138158,0.592105,68.980263,37.598684,21.019737,1.480263,0.592105,0.592105,0.592105,0.296053,52.105263,323.585526,176.743421,6.809211,4.144737,0.000000,2.376947,1.829918,4.943612,5.335603
5,Albin Ekdal,Sweden,DM,31-321,387,0.0,0.930233,0.0,27.674419,31.627907,1.627907,0.875000,0.051471,0.465116,2.790698,0.465116,0.000000,0.857143,0.933333,0.465116,5.581395,0.697674,41.162791,23.953488,6.976744,0.232558,0.000000,0.697674,0.232558,0.000000,23.255814,106.976744,41.627907,2.325581,0.697674,0.000000,1.955861,1.325963,2.916626,2.137571
6,Aleksandar Dragović,Austria,CB,30-107,338,0.0,0.798817,0.0,53.520710,61.775148,5.059172,0.866379,0.081897,0.000000,5.325444,0.266272,0.000000,0.893805,0.842105,0.266272,8.254438,2.396450,71.893491,41.272189,3.195266,0.532544,0.532544,0.532544,0.532544,0.000000,45.532544,220.207101,124.881657,4.792899,1.065089,0.000000,1.964829,1.707149,4.583058,3.932495

In [53]:
rounding = [ 'Astper90','SCAper90','GCAper90','PassCmpper90','PassAttper90','PassProgper90','PassAccuracy', \
            'PercentProgPasses','KeyPassesper90','Opp1/3per90','PPAper90','CrsPAper90','MedPassAcc','LongPassAcc', \
            'PTTBper90','PTPressper90','PTSwper90','TotTouchesper90','TouchMid 3rdper90','TouchAtt 3rdper90', \
            'TouchAtt Penper90','DribSuccper90','DribAttper90','#Playerslostper90','nutMegsper90','Carriesper90', \
            'CarryTotDistper90','CarryPrgDistper90','CarryProgper90','Carry1/3per90','CPAper90']

r = data.copy()
data[rounding] = np.round(data[rounding],2)

data.head()

,Player,team_name,Pos,Age,Min,Astper90,SCAper90,GCAper90,PassCmpper90,PassAttper90,PassProgper90,PassAccuracy,PercentProgPasses,KeyPassesper90,Opp1/3per90,PPAper90,CrsPAper90,MedPassAcc,LongPassAcc,PTTBper90,PTPressper90,PTSwper90,TotTouchesper90,TouchMid 3rdper90,TouchAtt 3rdper90,TouchAtt Penper90,DribSuccper90,DribAttper90,#Playerslostper90,nutMegsper90,Carriesper90,CarryTotDistper90,CarryPrgDistper90,CarryProgper90,Carry1/3per90,CPAper90,Chances_creation_rating,dribbling_rating,Passing_rating,Possession_keeping
0,Aaron Ramsey,Wales,AM,30-182,353,0.0,2.04,0.0,30.34,39.26,4.33,0.77,0.11,1.02,3.06,1.27,0.25,0.87,0.67,0.00,7.39,2.80,50.48,25.50,18.61,4.59,0.76,1.27,0.76,0.0,32.63,187.90,77.76,2.55,1.02,0.51,2.820084,2.128500,4.239730,3.211473
1,Adam Hložek,Czech Republic,"LW,RW",18-328,80,0.0,1.12,0.0,18.00,28.12,5.62,0.64,0.20,1.12,0.00,3.38,2.25,0.70,0.25,0.00,3.38,1.12,38.25,14.62,21.38,4.50,0.00,1.12,0.00,0.0,24.75,212.62,149.62,6.75,2.25,0.00,3.190306,1.248975,3.228438,4.048515
4,Adrien Rabiot,France,"LB,WB",26-086,304,0.0,1.78,0.0,52.11,59.80,4.14,0.87,0.07,0.30,4.44,0.89,0.00,0.87,0.83,0.00,12.14,0.59,68.98,37.60,21.02,1.48,0.59,0.59,0.59,0.3,52.11,323.59,176.74,6.81,4.14,0.00,2.376947,1.829918,4.943612,5.335603
5,Albin Ekdal,Sweden,DM,31-321,387,0.0,0.93,0.0,27.67,31.63,1.63,0.87,0.05,0.47,2.79,0.47,0.00,0.86,0.93,0.47,5.58,0.70,41.16,23.95,6.98,0.23,0.00,0.70,0.23,0.0,23.26,106.98,41.63,2.33,0.70,0.00,1.955861,1.325963,2.916626,2.137571
6,Aleksandar Dragović,Austria,CB,30-107,338,0.0,0.80,0.0,53.52,61.78,5.06,0.87,0.08,0.00,5.33,0.27,0.00,0.89,0.84,0.27,8.25,2.40,71.89,41.27,3.20,0.53,0.53,0.53,0.53,0.0,45.53,220.21,124.88,4.79,1.07,0.00,1.964829,1.707149,4.583058,3.932495

In [54]:
data['Age'] = data['Age'].apply(lambda x: x.split('-')[0])
data.head()

,Player,team_name,Pos,Age,Min,Astper90,SCAper90,GCAper90,PassCmpper90,PassAttper90,PassProgper90,PassAccuracy,PercentProgPasses,KeyPassesper90,Opp1/3per90,PPAper90,CrsPAper90,MedPassAcc,LongPassAcc,PTTBper90,PTPressper90,PTSwper90,TotTouchesper90,TouchMid 3rdper90,TouchAtt 3rdper90,TouchAtt Penper90,DribSuccper90,DribAttper90,#Playerslostper90,nutMegsper90,Carriesper90,CarryTotDistper90,CarryPrgDistper90,CarryProgper90,Carry1/3per90,CPAper90,Chances_creation_rating,dribbling_rating,Passing_rating,Possession_keeping
0,Aaron Ramsey,Wales,AM,30,353,0.0,2.04,0.0,30.34,39.26,4.33,0.77,0.11,1.02,3.06,1.27,0.25,0.87,0.67,0.00,7.39,2.80,50.48,25.50,18.61,4.59,0.76,1.27,0.76,0.0,32.63,187.90,77.76,2.55,1.02,0.51,2.820084,2.128500,4.239730,3.211473
1,Adam Hložek,Czech Republic,"LW,RW",18,80,0.0,1.12,0.0,18.00,28.12,5.62,0.64,0.20,1.12,0.00,3.38,2.25,0.70,0.25,0.00,3.38,1.12,38.25,14.62,21.38,4.50,0.00,1.12,0.00,0.0,24.75,212.62,149.62,6.75,2.25,0.00,3.190306,1.248975,3.228438,4.048515
4,Adrien Rabiot,France,"LB,WB",26,304,0.0,1.78,0.0,52.11,59.80,4.14,0.87,0.07,0.30,4.44,0.89,0.00,0.87,0.83,0.00,12.14,0.59,68.98,37.60,21.02,1.48,0.59,0.59,0.59,0.3,52.11,323.59,176.74,6.81,4.14,0.00,2.376947,1.829918,4.943612,5.335603
5,Albin Ekdal,Sweden,DM,31,387,0.0,0.93,0.0,27.67,31.63,1.63,0.87,0.05,0.47,2.79,0.47,0.00,0.86,0.93,0.47,5.58,0.70,41.16,23.95,6.98,0.23,0.00,0.70,0.23,0.0,23.26,106.98,41.63,2.33,0.70,0.00,1.955861,1.325963,2.916626,2.137571
6,Aleksandar Dragović,Austria,CB,30,338,0.0,0.80,0.0,53.52,61.78,5.06,0.87,0.08,0.00,5.33,0.27,0.00,0.89,0.84,0.27,8.25,2.40,71.89,41.27,3.20,0.53,0.53,0.53,0.53,0.0,45.53,220.21,124.88,4.79,1.07,0.00,1.964829,1.707149,4.583058,3.932495

## PlayMaker Rating

**Playmaker_rating** = Chances_creation_rating * 0.4 + dribbling_rating * 0.1 + Passing_rating * 0.25 + Possession_keeping * 0.25

In [55]:
data['PlayMaker Rating'] = data['Chances_creation_rating']*0.4 + data['dribbling_rating']*0.1 + \
                            data['Passing_rating']*0.25 + data['Possession_keeping']*0.25

data[data['Min'] >= 45][['Player','team_name','Pos', 'PlayMaker Rating']].sort_values(by = 'PlayMaker Rating', ascending = False).head(5)

               Player  team_name    Pos  PlayMaker Rating
278    Marco Verratti     Italy      CM          6.646963
371        Rafa Silva  Portugal      RW          6.433424
314   Mikel Oyarzabal      Spain  LW,FW          6.373062
298    Mathias Jensen   Denmark      DM          6.337489
430  Thiago Alcántara      Spain     DM          6.311738

In [56]:
data['PlayMaker Rating'] = scaler.fit_transform(data[['PlayMaker Rating']])

In [57]:
print('Top 10 Playmakers of Euro 2020:')

data[['Player','team_name','Pos', 'PlayMaker Rating']].sort_values(by = 'PlayMaker Rating', ascending = False).head(10)

Top 10 Playmakers of Euro 2020:

                    Player  team_name    Pos  PlayMaker Rating
278         Marco Verratti     Italy      CM         10.000000
371             Rafa Silva  Portugal      RW          9.650404
314        Mikel Oyarzabal      Spain  LW,FW          9.551582
298         Mathias Jensen   Denmark      DM          9.493344
430       Thiago Alcántara      Spain     DM          9.451185
366  Przemysław Frankowski    Poland      RW          9.229842
164          Jack Grealish    England     LW          8.653650
18       Andreas Cornelius   Denmark   AM,FW          8.308669
227        Kevin De Bruyne   Belgium      AM          8.208581
279        Marcos Llorente      Spain     RB          8.134368

In [58]:
data.to_csv('Final_Data_for_Tableau.csv', index = False)