In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns',None)

In [3]:
with pd.ExcelFile(r'C:\Users\harsh\Documents\Euro 2020 Playmaker Analysis\EuroDataIncludingQ.xlsx') as reader:
    lineupData = pd.read_excel(reader, header = [0], sheet_name = 'lineups')
    gkData = pd.read_excel(reader, header = [0,1], sheet_name = 'GK Stats')
    SummaryData = pd.read_excel(reader, header = [0,1], sheet_name = 'Player Summary Stats')
    passingData = pd.read_excel(reader, header = [0,1], sheet_name = 'Passing Stats')
    passtypeData = pd.read_excel(reader, header = [0,1], sheet_name = 'PassType Stats')
    defActionData = pd.read_excel(reader, header = [0,1], sheet_name = 'Def Action Stats')
    possessionData = pd.read_excel(reader, header = [0,1], sheet_name = 'Possession Stats')
    miscData = pd.read_excel(reader, header = [0,1], sheet_name = 'Miscellaneous Stats')

**1. LineUps Data**

In [4]:
lineupData.head()

,Unnamed: 0,match_id,date,time,team_name,home_away,jersey_no,player_name,start_status
0,0,027b11df,"Friday June 18, 2021",20:00,England,h,1,Jordan Pickford,Start
1,1,027b11df,"Friday June 18, 2021",20:00,England,h,3,Luke Shaw,Start
2,2,027b11df,"Friday June 18, 2021",20:00,England,h,4,Declan Rice,Start
3,3,027b11df,"Friday June 18, 2021",20:00,England,h,5,John Stones,Start
4,4,027b11df,"Friday June 18, 2021",20:00,England,h,9,Harry Kane,Start

In [5]:
lineupData.drop(['Unnamed: 0'], axis = 1, inplace = True)
lineupData.head(2)

,match_id,date,time,team_name,home_away,jersey_no,player_name,start_status
0,027b11df,"Friday June 18, 2021",20:00,England,h,1,Jordan Pickford,Start
1,027b11df,"Friday June 18, 2021",20:00,England,h,3,Luke Shaw,Start

In [6]:
lineupData.to_csv('Lineup.csv', index = False)

**2. Summary Data**

In [7]:
SummaryData.head(2)

  Unnamed: 0_level_0           match_id                  date  \
  Unnamed: 0_level_1 Unnamed: 1_level_1    Unnamed: 2_level_1
0                  0           027b11df  Friday June 18, 2021
1                  1           027b11df  Friday June 18, 2021

                time          team_name          home_away Unnamed: 0_level_0  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1             Player
0              20:00            England                  h         Harry Kane
1              20:00            England                  h    Marcus Rashford

  Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0 Unnamed: 4_level_0  \
                   #                Pos                Age                Min
0                9.0                 FW             27-325                 73
1               11.0                 FW             23-230                 17

  Performance                                                             \
          Gls Ast PK PKatt Sh SoT CrdY CrdR Touches Press Tkl Int Blocks
0           0   0  0     0  2   0    0    0      20     4   0   0      0
1           0   0  0     0  0   0    0    0       8     0   0   0      0

  Expected           SCA     Passes                 Carries      Dribbles
        xG npxG   xA SCA GCA    Cmp Att   Cmp% Prog Carries Prog     Succ Att
0      0.3  0.3  0.1   1   0      8  13   61.5    1      13    5        0   0
1      0.0  0.0  0.0   0   0      6   6  100.0    0       5    0        0   0

In [8]:
SummaryData.columns = ['Srno', 'match_id', 'date', 'time', 'team_name', 'home_away', \
                       'Player', '#', 'Pos', 'Age', 'Min','Gls', 'Ast','PK', 'PKatt','Sh','SoT','CrdY', \
                       'CrdR','Touches','Press','Tkl','Int','Blocks','xG','npxG','xA','SCA','GCA','PassCmp','PassAtt', \
                       'PassCmp%','PassProg','Carries','CarriesProg','DribSucc','DribAtt']

In [9]:
SummaryData.drop('Srno', axis = 1, inplace = True)
SummaryData.head(2)

,match_id,date,time,team_name,home_away,Player,#,Pos,Age,Min,Gls,Ast,PK,PKatt,Sh,SoT,CrdY,CrdR,Touches,Press,Tkl,Int,Blocks,xG,npxG,xA,SCA,GCA,PassCmp,PassAtt,PassCmp%,PassProg,Carries,CarriesProg,DribSucc,DribAtt
0,027b11df,"Friday June 18, 2021",20:00,England,h,Harry Kane,9.0,FW,27-325,73,0,0,0,0,2,0,0,0,20,4,0,0,0,0.3,0.3,0.1,1,0,8,13,61.5,1,13,5,0,0
1,027b11df,"Friday June 18, 2021",20:00,England,h,Marcus Rashford,11.0,FW,23-230,17,0,0,0,0,0,0,0,0,8,0,0,0,0,0.0,0.0,0.0,0,0,6,6,100.0,0,5,0,0,0

In [10]:
SummaryData.to_csv('Summary Stats.csv', index = False)

**3. Passing Data**

In [11]:
passingData.head(2)

  Unnamed: 0_level_0           match_id                  date  \
  Unnamed: 0_level_1 Unnamed: 1_level_1    Unnamed: 2_level_1
0                  0           027b11df  Friday June 18, 2021
1                  1           027b11df  Friday June 18, 2021

                time          team_name          home_away Unnamed: 0_level_0  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1             Player
0              20:00            England                  h         Harry Kane
1              20:00            England                  h    Marcus Rashford

  Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0 Unnamed: 4_level_0  \
                   #                Pos                Age                Min
0                9.0                 FW             27-325                 73
1               11.0                 FW             23-230                 17

  Total                            Short            Medium            Long  \
    Cmp Att   Cmp% TotDist PrgDist   Cmp Att   Cmp%    Cmp Att   Cmp%  Cmp
0     8  13   61.5     198      20     3   3  100.0      2   3   66.7    2
1     6   6  100.0     111      12     4   4  100.0      1   1  100.0    1

             Unnamed: 19_level_0 Unnamed: 20_level_0 Unnamed: 21_level_0  \
  Att   Cmp%                 Ast                  xA                  KP
0   3   66.7                   0                 0.1                   1
1   1  100.0                   0                 0.0                   0

  Unnamed: 22_level_0 Unnamed: 23_level_0 Unnamed: 24_level_0  \
                  1/3                 PPA               CrsPA
0                   0                   1                   0
1                   0                   0                   0

  Unnamed: 25_level_0
                 Prog
0                   1
1                   0

In [12]:
passingData.columns = ['Srno', 'match_id', 'date','time', 'team_name', 'home_away', 'Player', '#', \
                       'Pos', 'Age', 'Min', 'TotCmp', 'TotAtt', 'TotCmp%', 'TotDist', \
                       'PrgDist', 'ShortCmp', 'ShortAtt', 'ShortCmp%', 'MedCmp', \
                       'MedAtt', 'MedCmp%', 'LongCmp', 'LongAtt', 'LongCmp%', 'Ast', 'xA', 'KeyPasses','Opp1/3','PPA','CrsPA','Prog']

In [13]:
passingData.drop('Srno', axis = 1, inplace = True)
passingData.head(2)

,match_id,date,time,team_name,home_away,Player,#,Pos,Age,Min,TotCmp,TotAtt,TotCmp%,TotDist,PrgDist,ShortCmp,ShortAtt,ShortCmp%,MedCmp,MedAtt,MedCmp%,LongCmp,LongAtt,LongCmp%,Ast,xA,KeyPasses,Opp1/3,PPA,CrsPA,Prog
0,027b11df,"Friday June 18, 2021",20:00,England,h,Harry Kane,9.0,FW,27-325,73,8,13,61.5,198,20,3,3,100.0,2,3,66.7,2,3,66.7,0,0.1,1,0,1,0,1
1,027b11df,"Friday June 18, 2021",20:00,England,h,Marcus Rashford,11.0,FW,23-230,17,6,6,100.0,111,12,4,4,100.0,1,1,100.0,1,1,100.0,0,0.0,0,0,0,0,0

In [14]:
passingData.to_csv('Passing Data.csv', index = False)

**4. Pass Type Data**

In [15]:
passtypeData.head(2)

  Unnamed: 0_level_0           match_id                  date  \
  Unnamed: 0_level_1 Unnamed: 1_level_1    Unnamed: 2_level_1
0                  0           027b11df  Friday June 18, 2021
1                  1           027b11df  Friday June 18, 2021

                time          team_name          home_away Unnamed: 0_level_0  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1             Player
0              20:00            England                  h         Harry Kane
1              20:00            England                  h    Marcus Rashford

  Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0 Unnamed: 4_level_0  \
                   #                Pos                Age                Min
0                9.0                 FW             27-325                 73
1               11.0                 FW             23-230                 17

  Unnamed: 5_level_0 Pass Types                            Corner Kicks      \
                 Att       Live Dead FK TB Press Sw Crs CK           In Out
0                 13         12    1  0  0     2  2   1  0            0   0
1                  6          6    0  0  0     2  1   0  0            0   0

      Height          Body Parts                     Outcomes              \
  Str Ground Low High       Left Right Head TI Other      Cmp Off Out Int
0   0      7   3    3          2    10    0  1     0        8   0   0   2
1   0      4   1    1          1     4    0  0     0        6   0   0   0


  Blocks
0      2
1      0

In [16]:
passtypeData.columns = ['Srno', 'match_id','date','time','team_name','home_away', 'Player','#','Pos', \
                        'Age','Min','Att', 'PTLive','PTDead','PTFK','PTTB', \
                        'PTPress','PTSw','PTCrs','PTCK', 'CKIn', 'CKOut', 'CKStr', \
                        'Ground','Low','High','BPLeft','BPRight','BPHead','BPTI', \
                        'BPOther', 'OutcomeCmp', 'OutcomeOff', 'OutcomeOut', 'OutcomeInt', 'OutcomeBlocks']

In [17]:
passtypeData.drop('Srno', axis = 1, inplace = True)
passtypeData.head(2)

,match_id,date,time,team_name,home_away,Player,#,Pos,Age,Min,Att,PTLive,PTDead,PTFK,PTTB,PTPress,PTSw,PTCrs,PTCK,CKIn,CKOut,CKStr,Ground,Low,High,BPLeft,BPRight,BPHead,BPTI,BPOther,OutcomeCmp,OutcomeOff,OutcomeOut,OutcomeInt,OutcomeBlocks
0,027b11df,"Friday June 18, 2021",20:00,England,h,Harry Kane,9.0,FW,27-325,73,13,12,1,0,0,2,2,1,0,0,0,0,7,3,3,2,10,0,1,0,8,0,0,2,2
1,027b11df,"Friday June 18, 2021",20:00,England,h,Marcus Rashford,11.0,FW,23-230,17,6,6,0,0,0,2,1,0,0,0,0,0,4,1,1,1,4,0,0,0,6,0,0,0,0

In [18]:
passtypeData.to_csv('Pass Type Data.csv', index = False)

**5. Possession Data**

In [19]:
possessionData.head(2)

  Unnamed: 0_level_0           match_id                  date  \
  Unnamed: 0_level_1 Unnamed: 1_level_1    Unnamed: 2_level_1
0                  0           027b11df  Friday June 18, 2021
1                  1           027b11df  Friday June 18, 2021

                time          team_name          home_away Unnamed: 0_level_0  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1             Player
0              20:00            England                  h         Harry Kane
1              20:00            England                  h    Marcus Rashford

  Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0 Unnamed: 4_level_0  \
                   #                Pos                Age                Min
0                9.0                 FW             27-325                 73
1               11.0                 FW             23-230                 17

  Touches                                              Dribbles                \
  Touches Def Pen Def 3rd Mid 3rd Att 3rd Att Pen Live     Succ Att Succ% #Pl
0      20       0       0      11      10       4   19        0   0   NaN   0
1       8       0       0       2       6       0    8        0   0   NaN   0

       Carries                                      Receiving
  Megs Carries TotDist PrgDist Prog 1/3 CPA Mis Dis      Targ Rec  Rec% Prog
0    0      13      81      54    5   1   3   1   0        27  17  63.0    4
1    0       5       8       3    0   0   0   0   2        12   8  66.7    3

In [20]:
possessionData.columns = ['Srno', 'match_id','date','time','team_name','home_away', \
                          'Player', '#', 'Pos','Age','Min', 'TotTouches','TouchDef Pen','TouchDef 3rd', \
                          'TouchMid 3rd','TouchAtt 3rd','TouchAtt Pen', 'TouchLive','DribSucc','DribAtt', \
                          'DribSucc%','#Playerslost','nutMegs', 'Carries','CarryTotDist', \
                          'CarryPrgDist','CarryProg','Carry1/3','CPA','CarryMis','CarryDis','RecTarg','Rec','Rec%','RecProg']

In [21]:
possessionData.drop('Srno', axis = 1, inplace = True)

In [22]:
possessionData.head(2)

,match_id,date,time,team_name,home_away,Player,#,Pos,Age,Min,TotTouches,TouchDef Pen,TouchDef 3rd,TouchMid 3rd,TouchAtt 3rd,TouchAtt Pen,TouchLive,DribSucc,DribAtt,DribSucc%,#Playerslost,nutMegs,Carries,CarryTotDist,CarryPrgDist,CarryProg,Carry1/3,CPA,CarryMis,CarryDis,RecTarg,Rec,Rec%,RecProg
0,027b11df,"Friday June 18, 2021",20:00,England,h,Harry Kane,9.0,FW,27-325,73,20,0,0,11,10,4,19,0,0,NaN,0,0,13,81,54,5,1,3,1,0,27,17,63.0,4
1,027b11df,"Friday June 18, 2021",20:00,England,h,Marcus Rashford,11.0,FW,23-230,17,8,0,0,2,6,0,8,0,0,NaN,0,0,5,8,3,0,0,0,0,2,12,8,66.7,3

In [23]:
possessionData.to_csv('Possession Data.csv', index = False)

**5. Misc Data**

In [24]:
miscData.head(2)

  Unnamed: 0_level_0           match_id                  date  \
  Unnamed: 0_level_1 Unnamed: 1_level_1    Unnamed: 2_level_1
0                  0           027b11df  Friday June 18, 2021
1                  1           027b11df  Friday June 18, 2021

                time          team_name          home_away Unnamed: 0_level_0  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1             Player
0              20:00            England                  h         Harry Kane
1              20:00            England                  h    Marcus Rashford

  Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0 Unnamed: 4_level_0  \
                   #                Pos                Age                Min
0                9.0                 FW             27-325                 73
1               11.0                 FW             23-230                 17

  Performance                                                           \
         CrdY CrdR 2CrdY Fls Fld Off Crs Int TklW PKwon PKcon OG Recov
0           0    0     0   1   2   0   1   0    0     0     0  0     1
1           0    0     0   0   0   0   0   0    0     0     0  0     0

  Aerial Duels
           Won Lost  Won%
0            0    2   0.0
1            1    2  33.3

In [25]:
miscData.columns = ['Srno', 'match_id','date','time','team_name','home_away', 'Player','#','Pos','Age','Min','CrdY','CrdR',	'2CrdY','Fls','Fld','Off','Crs','Int','TklW','PKwon','PKcon','OG','Recov', 'ARDWon','ARDLost','ARDWon%']

In [26]:
miscData.drop('Srno', axis = 1, inplace = True)
miscData.head(2)

,match_id,date,time,team_name,home_away,Player,#,Pos,Age,Min,CrdY,CrdR,2CrdY,Fls,Fld,Off,Crs,Int,TklW,PKwon,PKcon,OG,Recov,ARDWon,ARDLost,ARDWon%
0,027b11df,"Friday June 18, 2021",20:00,England,h,Harry Kane,9.0,FW,27-325,73,0,0,0,1,2,0,1,0,0,0,0,0,1,0,2,0.0
1,027b11df,"Friday June 18, 2021",20:00,England,h,Marcus Rashford,11.0,FW,23-230,17,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,33.3

In [27]:
miscData.to_csv('Miscellaneous Data.csv', index = False)

**6. GK Stats Data**

In [28]:
gkData.head(2)

  Unnamed: 0_level_0           match_id                  date  \
  Unnamed: 0_level_1 Unnamed: 1_level_1    Unnamed: 2_level_1
0                  0           027b11df  Friday June 18, 2021
1                  0           027b11df  Friday June 18, 2021

                time          team_name          home_away Unnamed: 0_level_0  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1             Player
0              20:00            England                  h    Jordan Pickford
1              20:00          Scotland                   a     David Marshall

  Unnamed: 1_level_0 Unnamed: 2_level_0 Shot Stopping                       \
                 Age                Min          SoTA GA Saves  Save% PSxG
0             27-103                 90             1  0     1  100.0  0.1
1             36-105                 90             1  0     1  100.0  0.0

  Launched           Passes                    Goal Kicks                 \
       Cmp Att  Cmp%    Att Thr Launch% AvgLen        Att Launch% AvgLen
0        9  17  52.9     25   8    56.0   41.7          7    42.9   36.7
1       13  26  50.0     21   2    76.2   55.4         10   100.0   69.3

  Crosses          Sweeper
      Opp Stp Stp%    #OPA AvgDist
0      10   0  0.0       2    14.4
1       5   0  0.0       0    11.0

In [29]:
gkData.columns = ['Srno', 'match_id','date','time','team_name','home_away','Player', \
                   'Age','Min', 'SoTAttmp','GA','Saves','Save%','PSxG', 'LaunchCmp', \
                   'LaunchAttmp','LaunchCmp%', 'PassAtt','PassThrow','PassLaunch%', \
                   'PassAvgLen', 'GKAtt','GKLaunch%','GKAvgLen', 'CrossOpp','CrossStp','CrossStp%', \
                   'Sweeper#OPA','SweeperAvgDist']

In [30]:
gkData.drop('Srno', axis = 1, inplace = True)
gkData.head(2)

,match_id,date,time,team_name,home_away,Player,Age,Min,SoTAttmp,GA,Saves,Save%,PSxG,LaunchCmp,LaunchAttmp,LaunchCmp%,PassAtt,PassThrow,PassLaunch%,PassAvgLen,GKAtt,GKLaunch%,GKAvgLen,CrossOpp,CrossStp,CrossStp%,Sweeper#OPA,SweeperAvgDist
0,027b11df,"Friday June 18, 2021",20:00,England,h,Jordan Pickford,27-103,90,1,0,1,100.0,0.1,9,17,52.9,25,8,56.0,41.7,7,42.9,36.7,10,0,0.0,2,14.4
1,027b11df,"Friday June 18, 2021",20:00,Scotland,a,David Marshall,36-105,90,1,0,1,100.0,0.0,13,26,50.0,21,2,76.2,55.4,10,100.0,69.3,5,0,0.0,0,11.0

In [31]:
gkData.to_csv('GK Data.csv', index = False)

**7. Def Action Stats**

In [32]:
defActionData.head(2)

  Unnamed: 0_level_0           match_id                  date  \
  Unnamed: 0_level_1 Unnamed: 1_level_1    Unnamed: 2_level_1
0                  0           027b11df  Friday June 18, 2021
1                  1           027b11df  Friday June 18, 2021

                time          team_name          home_away Unnamed: 0_level_0  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1             Player
0              20:00            England                  h         Harry Kane
1              20:00            England                  h    Marcus Rashford

  Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0 Unnamed: 4_level_0  \
                   #                Pos                Age                Min
0                9.0                 FW             27-325                 73
1               11.0                 FW             23-230                 17

  Tackles                              Vs Dribbles               Pressures  \
      Tkl TklW Def 3rd Mid 3rd Att 3rd         Tkl Att Tkl% Past     Press
0       0    0       0       0       0           0   0  NaN    0         4
1       0    0       0       0       0           0   0  NaN    0         0

                                     Blocks              Unnamed: 24_level_0  \
  Succ     % Def 3rd Mid 3rd Att 3rd Blocks Sh ShSv Pass                 Int
0    2  50.0       0       2       2      0  0    0    0                   0
1    0   NaN       0       0       0      0  0    0    0                   0

  Unnamed: 25_level_0 Unnamed: 26_level_0 Unnamed: 27_level_0
              Tkl+Int                 Clr                 Err
0                   0                   0                   0
1                   0                   0                   0

In [33]:
defActionData.columns = ['Srno', 'match_id','date','time','team_name','home_away', \
                         'Player','#','Pos','Age','Min','Tkl','TklW', 'TklDef 3rd','TklMid 3rd','TklAtt 3rd', \
                        'vsdribTkl','vsdribAttmp','vsdribTkl%','vsdribPast', 'Press','Succ','%', \
                        'PressDef 3rd','PressMid 3rd','PressAtt 3rd', 'Blocks','ShAttmp','ShSv','Pass','Int', \
                         'Tkl+Int','Clr','Err']

In [34]:
defActionData.drop('Srno', axis = 1, inplace = True)
defActionData.head(2)

,match_id,date,time,team_name,home_away,Player,#,Pos,Age,Min,Tkl,TklW,TklDef 3rd,TklMid 3rd,TklAtt 3rd,vsdribTkl,vsdribAttmp,vsdribTkl%,vsdribPast,Press,Succ,%,PressDef 3rd,PressMid 3rd,PressAtt 3rd,Blocks,ShAttmp,ShSv,Pass,Int,Tkl+Int,Clr,Err
0,027b11df,"Friday June 18, 2021",20:00,England,h,Harry Kane,9.0,FW,27-325,73,0,0,0,0,0,0,0,NaN,0,4,2,50.0,0,2,2,0,0,0,0,0,0,0,0
1,027b11df,"Friday June 18, 2021",20:00,England,h,Marcus Rashford,11.0,FW,23-230,17,0,0,0,0,0,0,0,NaN,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0

In [35]:
defActionData.to_csv('Def Action Data.csv', index = False)